<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.library_project.dao.BookGroupDao">
	<sql id="selectBigGroup">
		select big_group, book_big_group_name
		from book_big_group
	</sql>
	
	<sql id="selectMiddleGroup">
		select middle_group, book_middle_group_name 
		from book_middle_group 
	</sql>
	
	<sql id="whereMiddleGroup">
		<where>
			<if test="bigGroup != null">
				big_group = #{bigGroup}
			</if>
		</where>
	</sql>
	
	<select id="selectAllBookBigGroup" resultType="BookGroup">
		<include refid="selectBigGroup"/>
	</select>
	
	<select id="selectAllMiddleGroup" parameterType="BookGroup" resultType="BookGroup">
		<include refid="selectMiddleGroup"/>
		<include refid="whereMiddleGroup"/>
	</select>
</mapper>