<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="kr.or.dgit.library_project.dao.PublisherDao">
	<sql id="selectSql">
		select * from publisher
	</sql>
	
	<sql id="whereSql">
		<where>
			<if test="publicCode != null">
				public_code=#{publicCode}
			</if>
			<if test="publicName != null">
				public_name=#{publicName}
			</if>
		</where>
	</sql>
	
	<!-- selectPublisherByAll -->
	<select id="selectPublisherByAll" parameterType="Publisher" resultType="Publisher">
		<include refid="selectSql"/>
	</select>
	
	<!-- selectPublisherByCode&Name -->
	<select id="selectPublisherByCodeName" parameterType="Publisher" resultType="Publisher">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>
</mapper>